
.container {
    display: grid;
    grid-template-rows: 0.5fr 10fr;
    background-color: #212529;
    min-height: 100vh;

    &__content {
        margin: 0 auto;
        background: #495057;
        width: 60vw;
        padding: 24px;
    }

}